{% extends "layout.html"%}
{% block content%}
	<h1>About Page</h1>
	<p style="font-size:120%; ">Hello everyone, My name is ayush. <br>Welcome, This is my first Web Application which have much of the functionalities of any blogging
		website.<br>I named it as "Tech Blog";).<br> This web Application is built in "Flask"(a python web framework)<br>
		You can post on this site after signing up(use google account email).
		you don't have to make any account to read the other users posts.
		some of the features of this Web Application are-<br><br>
		1. Dynamic and Responsive content<br>
		2. Hosted on heroku<br>
		3. User can add post after their registration.<br>
		4. User can manage their account i.e the can change their credentials(including password through email)<br>
		5. User can manage their post by having options of Updating or Deleting Post.<br><br>
		NOTE : This is the First Deployment of Application so if you find any Bug so please let me know, I will be thankful to you.
	</p>
{% endblock content %}
